USE [master]
GO
/****** Object:  Database [EM_NN]    Script Date: 11/02/2020 14:14:45 ******/
CREATE DATABASE [EM_NN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EM_NN', FILENAME = N'D:\databases\EM_NN.mdf' , SIZE = 860160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EM_NN_log', FILENAME = N'D:\databases\EM_NN_log.ldf' , SIZE = 1449984KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EM_NN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EM_NN]
GO
/****** Object:  SqlAssembly [clr_integration]    Script Date: 11/02/2020 14:14:45 ******/
CREATE ASSEMBLY [clr_integration]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C01030053C898530000000000000000E00002210B010B00000C000000060000000000000E2B0000002000000040000000000010002000000002000004000000000000000600000000000000008000000002000000000000030060850000100000100000000010000010000000000000100000000000000000000000BC2A00004F000000004000004003000000000000000000000000000000000000006000000C000000842900001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000140B000000200000000C000000020000000000000000000000000000200000602E72737263000000400300000040000000040000000E0000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000001200000000000000000000000000004000004200000000000000000000000000000000F02A0000000000004800000002000500D8200000AC0800000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000560223000000000000F03F281400000A7D010000042A4E02257B0100000403281500000A7D010000042A6202257B01000004037B01000004281500000A7D010000042A1E027B010000042A7A02257B01000004036F1600000A6C281400000A281500000A7D010000042A4A03027C01000004281700000A6F1800000A2A1E02281900000A2A00000042534A4201000100000000000C00000076342E302E33303331390000000005006C000000C0020000237E00002C030000A803000023537472696E677300000000D40600000800000023555300DC060000100000002347554944000000EC060000C001000023426C6F620000000000000002000001571700000900000000FA253300160000010000001B0000000200000001000000070000000400000001000000190000000F000000010000000200000000000A0001000000000006002D0026000A005B0040000A0081006C000600BA00B0000600CC00B00006000901EF0006003401220106004B0122010600680122010600870122010600A00122010600B90122010600D40122010600EF01220106002702080206003B020802060049022201060062022201060092027F024F00A60200000600D502B5020600F502B50206001A0326000600300308020600460308020A00510340000A00720340000000000001000000000001000100092010001500000005000100010001008B000A00502000000000860090000E00010066200000000086009500120001007A20000000008600A000180002009320000000008600A6001E0003009B2000000000E601C70023000300BA2000000000E601D90029000400CD20000000008618DF000E00050000000100E50000000100E50000000100EB0000000100ED00020009003100DF002F003900DF002F004100DF002F004900DF002F005100DF002F005900DF002F006100DF002F006900DF002F007100DF002F007900DF0034008100DF002F008900DF002F009100DF002F009900DF003900A900DF003F00B100DF000E00B900DF000E00C100DF004400D100DF004A0019007903B10019008503B70021009103C00019009C03C0002900D900C4000900DF000E002E003B0034012E0083009E012E00130013012E001B001F012E0023001F012E002B0025012E00330013012E000B00C9002E0043001F012E0053001F012E005B0055012E006B007F012E0073008C012E007B00950143009B0050000480000001000000000000000000000000001303000004000000000000000000000001001D000000000004000000000000000000000001003400000000000000003C4D6F64756C653E00434C5253514C2E646C6C0050726F64756374006D73636F726C69620053797374656D004F626A6563740053797374656D2E44617461004D6963726F736F66742E53716C5365727665722E536572766572004942696E61727953657269616C697A650053797374656D2E446174612E53716C54797065730053716C446F75626C650070726F6400496E697400416363756D756C617465004D65726765005465726D696E6174650053797374656D2E494F0042696E61727952656164657200526561640042696E617279577269746572005772697465002E63746F720076616C7565007200770053797374656D2E52756E74696D652E56657273696F6E696E67005461726765744672616D65776F726B4174747269627574650053797374656D2E5265666C656374696F6E00417373656D626C795469746C6541747472696275746500417373656D626C794465736372697074696F6E41747472696275746500417373656D626C79436F6E66696775726174696F6E41747472696275746500417373656D626C79436F6D70616E7941747472696275746500417373656D626C7950726F6475637441747472696275746500417373656D626C79436F7079726967687441747472696275746500417373656D626C7954726164656D61726B41747472696275746500417373656D626C7943756C747572654174747269627574650053797374656D2E52756E74696D652E496E7465726F70536572766963657300436F6D56697369626C65417474726962757465004775696441747472696275746500417373656D626C7956657273696F6E41747472696275746500417373656D626C7946696C6556657273696F6E4174747269627574650053797374656D2E446961676E6F73746963730044656275676761626C6541747472696275746500446562756767696E674D6F6465730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C69747941747472696275746500434C5253514C0053657269616C697A61626C65417474726962757465005374727563744C61796F7574417474726962757465004C61796F75744B696E640053716C55736572446566696E656441676772656761746541747472696275746500466F726D6174006F705F496D706C69636974006F705F4D756C7469706C790052656164446F75626C65006765745F56616C75650000000003200000000000EB5ECE06D67D8A41913123058F2692560008B77A5C561934E0890306110D0320000105200101110D052001011208042000110D052001011211052001011215042001010E0420010102052001011151042001010805200101116505200101116D6001000100000004005402174973496E76617269616E74546F4475706C696361746573005402124973496E76617269616E74546F4E756C6C73015402124973496E76617269616E74546F4F726465720154020D49734E756C6C4966456D70747901050001110D0D080002110D110D110D0320000D042001010D4901001A2E4E45544672616D65776F726B2C56657273696F6E3D76342E350100540E144672616D65776F726B446973706C61794E616D65122E4E4554204672616D65776F726B20342E350B010006434C5253514C00000501000000000E0100094D6963726F736F667400002001001B436F7079726967687420C2A9204D6963726F736F6674203230313400002901002466626663383134372D333665332D343861642D393433662D35306230363165323331306200000C010007312E302E302E3000000801000200000000000801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F7773010000000000000053C8985300000000020000001C010000A0290000A00B000052534453F2A6203AD3AAC14FA6830977B2911D2F02000000633A5C4E6F74576F726B5C50726F6A656374735C6469766572736570726F69656374655C454D5C454D5C434C5253514C5C6F626A5C52656C656173655C434C5253514C2E706462000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000E42A00000000000000000000FE2A0000002000000000000000000000000000000000000000000000F02A0000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF2500200010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000E80200000000000000000000E80234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000001000000000000000100000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B00448020000010053007400720069006E006700460069006C00650049006E0066006F00000024020000010030003000300030003000340062003000000034000A00010043006F006D00700061006E0079004E0061006D006500000000004D006900630072006F0073006F00660074000000380007000100460069006C0065004400650073006300720069007000740069006F006E000000000043004C005200530051004C0000000000300008000100460069006C006500560065007200730069006F006E000000000031002E0030002E0030002E003000000038000B00010049006E007400650072006E0061006C004E0061006D006500000043004C005200530051004C002E0064006C006C00000000005C001B0001004C006500670061006C0043006F007000790072006900670068007400000043006F0070007900720069006700680074002000A90020004D006900630072006F0073006F0066007400200032003000310034000000000040000B0001004F0072006900670069006E0061006C00460069006C0065006E0061006D006500000043004C005200530051004C002E0064006C006C0000000000300007000100500072006F0064007500630074004E0061006D0065000000000043004C005200530051004C0000000000340008000100500072006F006400750063007400560065007200730069006F006E00000031002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000031002E0030002E0030002E0030000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000103B00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE
GO
/****** Object:  UserDefinedTableType [dbo].[Matrix]    Script Date: 11/02/2020 14:14:45 ******/
CREATE TYPE [dbo].[Matrix] AS TABLE(
	[dim1] [int] NOT NULL,
	[dim2] [int] NOT NULL,
	[val] [float] NOT NULL,
	PRIMARY KEY CLUSTERED 
(
	[dim1] ASC,
	[dim2] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
/****** Object:  UserDefinedTableType [dbo].[Perm]    Script Date: 11/02/2020 14:14:45 ******/
CREATE TYPE [dbo].[Perm] AS TABLE(
	[permNo] [int] NOT NULL,
	[i] [int] NOT NULL,
	[no] [int] NOT NULL,
	[sign] [int] NOT NULL,
	PRIMARY KEY CLUSTERED 
(
	[permNo] ASC,
	[i] ASC
)WITH (IGNORE_DUP_KEY = OFF),
	CHECK (([sign]=(1) OR [sign]=(-1)))
)
GO
/****** Object:  UserDefinedTableType [dbo].[point]    Script Date: 11/02/2020 14:14:45 ******/
CREATE TYPE [dbo].[point] AS TABLE(
	[dim] [int] NOT NULL,
	[val] [float] NOT NULL,
	PRIMARY KEY CLUSTERED 
(
	[dim] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
/****** Object:  UserDefinedTableType [dbo].[points]    Script Date: 11/02/2020 14:14:45 ******/
CREATE TYPE [dbo].[points] AS TABLE(
	[n] [int] NOT NULL,
	[dim] [int] NOT NULL,
	[val] [float] NOT NULL,
	[initialK] [int] NULL,
	PRIMARY KEY CLUSTERED 
(
	[n] ASC,
	[dim] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
/****** Object:  UserDefinedFunction [dbo].[fnDeterminant]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnDeterminant]
(
	@matrix dbo.Matrix READONLY
)
RETURNS float
AS
BEGIN
	--declare @line int = (SELECT MAX(dim1) FROM @matrix)

	--RETURN dbo.fnOldDeterminant2(@matrix, @line+1, @line+1)
	declare @matrixCopy dbo.Matrix
	INSERT INTO @matrixCopy(val, dim1, dim2)
	SELECT val, dim1, dim2
	FROM @matrix

	declare @det float = 1

	declare @line int = (SELECT MAX(dim1) FROM @matrixCopy)

	declare @crtEl float

	WHILE @line > 0
	BEGIN
		SET @crtEl = (SELECT val FROM @matrixCopy WHERE dim1 = @line AND dim2 = @line)

		IF @crtEl = 0
		BEGIN
			--tre sa schimbam 2 linii intre ele
			declare @switchLine int = 0
			SET @switchLine = (SELECT MAX(dim1) FROM @matrixCopy WHERE dim1 < @line AND dim2 = @line AND ISNULL(val, 0) <> 0)
			
			IF ISNULL(@switchLine, 0) = 0
				RETURN 0

			UPDATE @matrixCopy
			SET dim1 = CASE WHEN dim1 = @switchLine THEN @line ELSE @switchLine END
			WHERE dim1 in (@switchLine, @line)

			SET @crtEl = (SELECT val FROM @matrixCopy WHERE dim1 = @line AND dim2 = @line)

			SET @det = @det * (-1)
		END

		--linia curenta = (linia crt) - (linia de ref)*(val de pe linia crt coloana de ref)/(val de pe linia de ref coloana de ref)
		UPDATE m
		SET m.val = m.val - 
							(SELECT m3.val FROM @matrixCopy m3 WHERE m3.dim1 = @line AND m3.dim2 = m.dim2) --linia de referinta, aceeasi coloana
							*(SELECT m2.val FROM @matrixCopy m2 WHERE m2.dim1 = m.dim1 AND m2.dim2 = @line) --linia curenta, coloana de referinta
							/@crtEl
		FROM @matrixCopy m
		WHERE m.dim1 < @line --pentru toate liniile deasupra liniei de referinta

		SET @det = @det * @crtEl
		
		SET @line = @line - 1
	END

	RETURN @det
END



GO
/****** Object:  UserDefinedFunction [dbo].[fnInverse]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnInverse]
(
	@matrix dbo.Matrix READONLY
)
RETURNS @s_inv TABLE (
	dim1 int,
	dim2 int,
	val float
)
AS
BEGIN
--descompunerea LU; ideea: creem matricea [M|I], iar dupa aceea incercam sa le transformam in [I|M^-1]
	declare @matrixCopy dbo.Matrix
	
	INSERT INTO @matrixCopy(dim1, dim2, val)
	SELECT dim1, dim2, val
	FROM @matrix

	declare @line int = (SELECT MAX(dim1) FROM @matrixCopy)

	--alipim matricea I de matricea M si formam [M|I]
	INSERT INTO @matrixCopy(dim1, dim2, val)
	SELECT dim1, dim2+@line, CASE WHEN dim1 = dim2 THEN 1 ELSE 0 END
	FROM @matrixCopy

	--facem 0 in partea superioara a lui M
	declare @crtEl float

	WHILE @line > 1
	BEGIN
		SET @crtEl = (SELECT val FROM @matrixCopy WHERE dim1 = @line AND dim2 = @line)

		IF @crtEl = 0
		BEGIN
			--tre sa schimbam 2 linii intre ele
			declare @switchLine int = 0
			SET @switchLine = (SELECT MAX(dim1) FROM @matrixCopy WHERE dim1 < @line AND dim2 = @line AND ISNULL(val, 0) <> 0)
			
			IF ISNULL(@switchLine, 0) = 0
				SET @crtEl = 'Matrix is singular!'--THROW 51000, 'Matrix is singular!', 1

			UPDATE @matrixCopy
			SET dim1 = CASE WHEN dim1 = @switchLine THEN @line ELSE @switchLine END
			WHERE dim1 in (@switchLine, @line)

			SET @crtEl = (SELECT val FROM @matrixCopy WHERE dim1 = @line AND dim2 = @line)
		END

		--linia curenta = (linia crt) - (linia de ref)*(val de pe linia crt coloana de ref)/(val de pe linia de ref coloana de ref)
		UPDATE m
		SET m.val = m.val - 
							(SELECT m3.val FROM @matrixCopy m3 WHERE m3.dim1 = @line AND m3.dim2 = m.dim2) --linia de referinta, aceeasi coloana
							*(SELECT m2.val FROM @matrixCopy m2 WHERE m2.dim1 = m.dim1 AND m2.dim2 = @line) --linia curenta, coloana de referinta
							/@crtEl
		FROM @matrixCopy m
		WHERE m.dim1 < @line --pentru toate liniile deasupra liniei de referinta
		
		SET @line = @line - 1
	END

	--facem 0 in partea inferioara a lui M
	SET @line = (SELECT MAX(dim1) FROM @matrixCopy) - 1

	WHILE @line > 0
	BEGIN
		SET @crtEl = (SELECT val FROM @matrixCopy WHERE dim1 = @line AND dim2 = @line)

		--linia curenta = (linia crt) - (linia de ref)*(val de pe linia crt coloana de ref)/(val de pe linia de ref coloana de ref)
		UPDATE m
		SET m.val = m.val - 
							(SELECT m3.val FROM @matrixCopy m3 WHERE m3.dim1 = @line AND m3.dim2 = m.dim2) --linia de referinta, aceeasi coloana
							*(SELECT m2.val FROM @matrixCopy m2 WHERE m2.dim1 = m.dim1 AND m2.dim2 = @line) --linia curenta, coloana de referinta
							/@crtEl
		FROM @matrixCopy m
		WHERE m.dim1 > @line --pentru toate liniile dedesuptul liniei de referinta
		
		SET @line = @line - 1
	END

	--facem 1 pe diagonala lui M
	SET @line = (SELECT MAX(dim1) FROM @matrixCopy)

	WHILE @line > 0
	BEGIN
		SET @crtEl = (SELECT val FROM @matrixCopy WHERE dim1 = @line AND dim2 = @line)

		--linia curenta = (linia crt)/(val de referinta)
		UPDATE m
		SET m.val = m.val/@crtEl
		FROM @matrixCopy m
		WHERE m.dim1 = @line --pentru linia curenta
		
		SET @line = @line - 1
	END

	--M^-1 este matricea din partea dreapta
	SET @line = (SELECT MAX(dim1) FROM @matrixCopy)

	INSERT INTO @s_inv(dim1, dim2, val)
	SELECT dim1, dim2 - @line, val
	FROM @matrixCopy
	WHERE dim2 > @line

	RETURN
END



GO
/****** Object:  UserDefinedFunction [dbo].[fnIsConvergent]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnIsConvergent]
(
	@stepNo int = null
)
RETURNS bit
AS
BEGIN
	if @stepNo IS NULL
		SELECT @stepNo = MAX(no)
		FROM STEP

	if @stepNo = 1
		RETURN 0

	declare @j float, @prevJ float

	declare @r int
	SELECT @r = MAX(dim)
	FROM D

	declare @k int
	SELECT @k = MAX(k)
	FROM K
	
	SELECT @j = j
	FROM STEP
	WHERE no = @stepNo

	SELECT @prevJ = j
	FROM STEP
	WHERE no = @stepNo - 1
	
	DECLARE @epsilon float = 0.00001

	if @prevJ >= @j OR @j-@prevJ < @epsilon
		RETURN 1

	if @k = (
		SELECT COUNT(k)
		FROM (
			SELECT M1.k
			FROM M_hist M1
			JOIN M_hist M2
			ON M1.stepNo = @stepNo
			AND M2.stepNo = @stepNo - 1
			AND M1.k = M2.k
			AND M1.dim = M2.dim
			AND ABS(M1.val - M2.val) < @epsilon --TODO: cu epsilon
			GROUP BY M1.k
			HAVING COUNT(M1.dim) = @r
		) GRP
	)
		RETURN 1

	RETURN 0
END



GO
/****** Object:  UserDefinedFunction [dbo].[fnPerm]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnPerm] (
	@n int
)
RETURNS @perms TABLE (
	[permNo] [int] NOT NULL,
	[i] [int] NOT NULL,
	[no] [int] NOT NULL,
	[sign] [int] NOT NULL CHECK(sign in (-1,1)),
	PRIMARY KEY CLUSTERED(permNo,i))
AS
BEGIN
	declare @list dbo.point
	declare @head dbo.point

	;WITH T AS (
		SELECT 1 n UNION ALL
		SELECT n+1
		FROM T
		WHERE n<@n
	)
	INSERT INTO @list(dim, val)
	SELECT T.n, 0
	FROM T

	--declare @v xml = (select * from @list FOR XML AUTO)

	INSERT INTO @perms(permNo, i, no, sign)
	SELECT permNo, i, no, sign
	FROM dbo.fnPermInternal(@list, @head, 1)

	RETURN
END



GO
/****** Object:  UserDefinedFunction [dbo].[fnPermInternal]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnPermInternal] (
	@list dbo.Point READONLY,
	@head dbo.Point READONLY,
	@sign int
)
RETURNS @perms TABLE (
	[permNo] [int] NOT NULL,
	[i] [int] NOT NULL,
	[no] [int] NOT NULL,
	[sign] [int] NOT NULL CHECK(sign in (-1,1)),
	PRIMARY KEY CLUSTERED(permNo,i))
AS
BEGIN
	if (SELECT COUNT(*) FROM @list) = 0
	BEGIN
		INSERT INTO @perms(permNo, i, no, sign)
		SELECT 1 permNo, H.dim i, H.val no, @sign sign
		FROM @head H

		--declare @v3 xml = (select * from @perms FOR XML AUTO)
	END
	ELSE BEGIN
		declare @list2 dbo.Point
		declare @tail dbo.Point
		declare @foreach dbo.Point
		declare @remPerms dbo.Perm

		INSERT INTO @tail(dim, val)
		SELECT dim, val
		FROM @head

		declare @current int
		INSERT INTO @foreach(dim, val)
		SELECT dim, 0
		FROM @list

		while (SELECT COUNT(*) FROM @foreach) > 0
		BEGIN
			SELECT @current = MIN(dim)
			FROM @foreach

			DELETE FROM @list2

			INSERT INTO @list2(dim, val)
			SELECT dim, 0
			FROM @list
			WHERE dim <> @current

			INSERT INTO @tail(dim, val)
			VALUES ((SELECT ISNULL(MAX(dim),0)+1 FROM @tail), @current)
			
			--declare @v_perm xml = (select * from @perms FOR XML AUTO)

			INSERT INTO @remPerms(permNo, i, no, sign)
			SELECT permNo, i, no, sign
			FROM dbo.fnPermInternal(@list2, @tail, @sign)

			INSERT INTO @perms(permNo, i, no, sign)
			SELECT (SELECT ISNULL(MAX(permNo), 0) FROM @perms) + permNo, i, no, sign
			FROM @remPerms

			DELETE FROM @remPerms

			--SET @v_perm = (select * from @perms FOR XML AUTO)

			SET @sign = -@sign

			DELETE FROM @tail
			WHERE val = @current

			DELETE FROM @foreach
			WHERE dim = @current
		END
		
		--declare @v2 xml = (select * from @perms FOR XML AUTO)
	END
	RETURN
END



GO
/****** Object:  UserDefinedFunction [dbo].[fnSInverse]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnSInverse]
(
	@k int
)
RETURNS @s_inv TABLE (
	dim1 int,
	dim2 int,
	val float
)
AS
BEGIN
	declare @m dbo.Matrix
	
	INSERT INTO @m(dim1, dim2, val)
	SELECT dim1, dim2, val
	FROM S
	WHERE k = @k

	INSERT INTO @s_inv(dim1, dim2, val)
	SELECT dim1, dim2, val
	FROM dbo.fnInverse(@m)
	
	RETURN
END



GO
/****** Object:  UserDefinedFunction [dbo].[fnMultiply]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnMultiply]
(	
	@mat1 dbo.Matrix READONLY,
	@mat2 dbo.Matrix READONLY
)
RETURNS TABLE WITH SCHEMABINDING
AS
RETURN 
(
	SELECT M1.dim1, M2.dim2, SUM(M1.val*m2.val) val
	FROM @mat1 M1
	JOIN @mat2 M2 ON M1.dim2 = M2.dim1
	GROUP BY M1.dim1, M2.dim2
)



GO
/****** Object:  UserDefinedFunction [dbo].[fnTranspose]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnTranspose]
(	
	@mat dbo.MATRIX READONLY
)
RETURNS TABLE WITH SCHEMABINDING
AS
RETURN 
(
	SELECT dim2 dim1, dim1 dim2, val
	FROM @mat
)



GO
/****** Object:  Table [dbo].[Algorythms]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Algorythms](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Algorythms] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[All_perm]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[All_perm](
	[n] [int] NOT NULL,
	[permNo] [int] NOT NULL,
	[i] [int] NOT NULL,
	[no] [int] NOT NULL,
	[sign] [int] NOT NULL,
 CONSTRAINT [PK_All_perm] PRIMARY KEY CLUSTERED 
(
	[n] DESC,
	[permNo] ASC,
	[i] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D](
	[dim] [int] NOT NULL,
 CONSTRAINT [PK_D] PRIMARY KEY CLUSTERED 
(
	[dim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[K]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[K](
	[k] [int] NOT NULL,
	[det] [float] NULL,
	[sumZ] [float] NULL,
 CONSTRAINT [PK_K] PRIMARY KEY CLUSTERED 
(
	[k] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M](
	[k] [int] NOT NULL,
	[dim] [int] NOT NULL,
	[val] [float] NOT NULL,
 CONSTRAINT [PK_M] PRIMARY KEY CLUSTERED 
(
	[k] ASC,
	[dim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_hist]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_hist](
	[stepNo] [int] NOT NULL,
	[k] [int] NOT NULL,
	[dim] [int] NOT NULL,
	[val] [float] NOT NULL,
 CONSTRAINT [PK_M_hist] PRIMARY KEY CLUSTERED 
(
	[stepNo] ASC,
	[k] ASC,
	[dim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[N]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[N](
	[n] [int] NOT NULL,
	[initialK] [int] NULL,
 CONSTRAINT [PK_N] PRIMARY KEY CLUSTERED 
(
	[n] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Neighbours]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Neighbours](
	[n] [int] NOT NULL,
	[neighbour_n] [int] NOT NULL,
 CONSTRAINT [PK_Neighbour] PRIMARY KEY CLUSTERED 
(
	[n] ASC,
	[neighbour_n] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[P]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P](
	[k] [int] NOT NULL,
	[val] [float] NOT NULL,
 CONSTRAINT [PK_P] PRIMARY KEY CLUSTERED 
(
	[k] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[P_hist]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P_hist](
	[stepNo] [int] NOT NULL,
	[k] [int] NOT NULL,
	[val] [float] NOT NULL,
 CONSTRAINT [PK_P_hist] PRIMARY KEY CLUSTERED 
(
	[stepNo] ASC,
	[k] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perm_info]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perm_info](
	[permNo] [int] NOT NULL,
	[sign] [int] NOT NULL,
 CONSTRAINT [PK_Perm_info] PRIMARY KEY CLUSTERED 
(
	[permNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permutations]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permutations](
	[permNo] [int] NOT NULL,
	[i] [int] NOT NULL,
	[no] [int] NOT NULL,
 CONSTRAINT [PK_Permutations] PRIMARY KEY CLUSTERED 
(
	[permNo] ASC,
	[i] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[S]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S](
	[k] [int] NOT NULL,
	[dim1] [int] NOT NULL,
	[dim2] [int] NOT NULL,
	[val] [float] NOT NULL,
 CONSTRAINT [PK_S] PRIMARY KEY CLUSTERED 
(
	[k] ASC,
	[dim1] ASC,
	[dim2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[S_hist]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S_hist](
	[stepNo] [int] NOT NULL,
	[k] [int] NOT NULL,
	[dim1] [int] NOT NULL,
	[dim2] [int] NOT NULL,
	[val] [float] NOT NULL,
 CONSTRAINT [PK_S_hist] PRIMARY KEY CLUSTERED 
(
	[stepNo] ASC,
	[k] ASC,
	[dim1] ASC,
	[dim2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STEP]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STEP](
	[no] [int] NOT NULL,
	[running] [bit] NOT NULL,
	[j] [float] NULL,
	[algorythm] [int] NULL,
 CONSTRAINT [PK_STEP] PRIMARY KEY CLUSTERED 
(
	[no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[X]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[X](
	[n] [int] NOT NULL,
	[dim] [int] NOT NULL,
	[val] [float] NOT NULL,
 CONSTRAINT [PK_X] PRIMARY KEY CLUSTERED 
(
	[n] ASC,
	[dim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z](
	[n] [int] NOT NULL,
	[k] [int] NOT NULL,
	[val] [float] NOT NULL,
	[probabilityDensity] [float] NULL,
 CONSTRAINT [PK_Z] PRIMARY KEY CLUSTERED 
(
	[n] ASC,
	[k] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z_hist]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_hist](
	[stepNo] [int] NOT NULL,
	[n] [int] NOT NULL,
	[k] [int] NOT NULL,
	[val] [float] NOT NULL,
 CONSTRAINT [PK_Z_hist] PRIMARY KEY CLUSTERED 
(
	[stepNo] ASC,
	[n] ASC,
	[k] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_M_dim]    Script Date: 11/02/2020 14:14:45 ******/
CREATE NONCLUSTERED INDEX [IX_M_dim] ON [dbo].[M]
(
	[dim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UX_Permutations]    Script Date: 11/02/2020 14:14:45 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Permutations] ON [dbo].[Permutations]
(
	[permNo] ASC,
	[no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_STEP]    Script Date: 11/02/2020 14:14:45 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_STEP] ON [dbo].[STEP]
(
	[running] ASC
)
WHERE ([running]<>(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_X_dim]    Script Date: 11/02/2020 14:14:45 ******/
CREATE NONCLUSTERED INDEX [IX_X_dim] ON [dbo].[X]
(
	[dim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[STEP] ADD  CONSTRAINT [DF_STEP_running]  DEFAULT ((1)) FOR [running]
GO
ALTER TABLE [dbo].[M]  WITH CHECK ADD  CONSTRAINT [FK_M_D] FOREIGN KEY([dim])
REFERENCES [dbo].[D] ([dim])
GO
ALTER TABLE [dbo].[M] CHECK CONSTRAINT [FK_M_D]
GO
ALTER TABLE [dbo].[M]  WITH CHECK ADD  CONSTRAINT [FK_M_K] FOREIGN KEY([k])
REFERENCES [dbo].[K] ([k])
GO
ALTER TABLE [dbo].[M] CHECK CONSTRAINT [FK_M_K]
GO
ALTER TABLE [dbo].[M_hist]  WITH CHECK ADD  CONSTRAINT [FK_M_hist_D] FOREIGN KEY([dim])
REFERENCES [dbo].[D] ([dim])
GO
ALTER TABLE [dbo].[M_hist] CHECK CONSTRAINT [FK_M_hist_D]
GO
ALTER TABLE [dbo].[M_hist]  WITH CHECK ADD  CONSTRAINT [FK_M_hist_K] FOREIGN KEY([k])
REFERENCES [dbo].[K] ([k])
GO
ALTER TABLE [dbo].[M_hist] CHECK CONSTRAINT [FK_M_hist_K]
GO
ALTER TABLE [dbo].[M_hist]  WITH CHECK ADD  CONSTRAINT [FK_M_hist_STEP] FOREIGN KEY([stepNo])
REFERENCES [dbo].[STEP] ([no])
GO
ALTER TABLE [dbo].[M_hist] CHECK CONSTRAINT [FK_M_hist_STEP]
GO
ALTER TABLE [dbo].[P]  WITH CHECK ADD  CONSTRAINT [FK_P_K] FOREIGN KEY([k])
REFERENCES [dbo].[K] ([k])
GO
ALTER TABLE [dbo].[P] CHECK CONSTRAINT [FK_P_K]
GO
ALTER TABLE [dbo].[P_hist]  WITH CHECK ADD  CONSTRAINT [FK_P_hist_K] FOREIGN KEY([k])
REFERENCES [dbo].[K] ([k])
GO
ALTER TABLE [dbo].[P_hist] CHECK CONSTRAINT [FK_P_hist_K]
GO
ALTER TABLE [dbo].[P_hist]  WITH CHECK ADD  CONSTRAINT [FK_P_hist_STEP] FOREIGN KEY([stepNo])
REFERENCES [dbo].[STEP] ([no])
GO
ALTER TABLE [dbo].[P_hist] CHECK CONSTRAINT [FK_P_hist_STEP]
GO
ALTER TABLE [dbo].[Permutations]  WITH CHECK ADD  CONSTRAINT [FK_Permutations_K] FOREIGN KEY([i])
REFERENCES [dbo].[K] ([k])
GO
ALTER TABLE [dbo].[Permutations] CHECK CONSTRAINT [FK_Permutations_K]
GO
ALTER TABLE [dbo].[Permutations]  WITH CHECK ADD  CONSTRAINT [FK_Permutations_K1] FOREIGN KEY([no])
REFERENCES [dbo].[K] ([k])
GO
ALTER TABLE [dbo].[Permutations] CHECK CONSTRAINT [FK_Permutations_K1]
GO
ALTER TABLE [dbo].[Permutations]  WITH CHECK ADD  CONSTRAINT [FK_Permutations_Perm_info] FOREIGN KEY([permNo])
REFERENCES [dbo].[Perm_info] ([permNo])
GO
ALTER TABLE [dbo].[Permutations] CHECK CONSTRAINT [FK_Permutations_Perm_info]
GO
ALTER TABLE [dbo].[S]  WITH CHECK ADD  CONSTRAINT [FK_S_D] FOREIGN KEY([dim1])
REFERENCES [dbo].[D] ([dim])
GO
ALTER TABLE [dbo].[S] CHECK CONSTRAINT [FK_S_D]
GO
ALTER TABLE [dbo].[S]  WITH CHECK ADD  CONSTRAINT [FK_S_D1] FOREIGN KEY([dim2])
REFERENCES [dbo].[D] ([dim])
GO
ALTER TABLE [dbo].[S] CHECK CONSTRAINT [FK_S_D1]
GO
ALTER TABLE [dbo].[S]  WITH CHECK ADD  CONSTRAINT [FK_S_K] FOREIGN KEY([k])
REFERENCES [dbo].[K] ([k])
GO
ALTER TABLE [dbo].[S] CHECK CONSTRAINT [FK_S_K]
GO
ALTER TABLE [dbo].[S_hist]  WITH CHECK ADD  CONSTRAINT [FK_S_hist_D] FOREIGN KEY([dim1])
REFERENCES [dbo].[D] ([dim])
GO
ALTER TABLE [dbo].[S_hist] CHECK CONSTRAINT [FK_S_hist_D]
GO
ALTER TABLE [dbo].[S_hist]  WITH CHECK ADD  CONSTRAINT [FK_S_hist_D1] FOREIGN KEY([dim2])
REFERENCES [dbo].[D] ([dim])
GO
ALTER TABLE [dbo].[S_hist] CHECK CONSTRAINT [FK_S_hist_D1]
GO
ALTER TABLE [dbo].[S_hist]  WITH CHECK ADD  CONSTRAINT [FK_S_hist_K] FOREIGN KEY([k])
REFERENCES [dbo].[K] ([k])
GO
ALTER TABLE [dbo].[S_hist] CHECK CONSTRAINT [FK_S_hist_K]
GO
ALTER TABLE [dbo].[S_hist]  WITH CHECK ADD  CONSTRAINT [FK_S_hist_STEP] FOREIGN KEY([stepNo])
REFERENCES [dbo].[STEP] ([no])
GO
ALTER TABLE [dbo].[S_hist] CHECK CONSTRAINT [FK_S_hist_STEP]
GO
ALTER TABLE [dbo].[STEP]  WITH CHECK ADD  CONSTRAINT [FK_STEP_Algorythms] FOREIGN KEY([algorythm])
REFERENCES [dbo].[Algorythms] ([id])
GO
ALTER TABLE [dbo].[STEP] CHECK CONSTRAINT [FK_STEP_Algorythms]
GO
ALTER TABLE [dbo].[X]  WITH CHECK ADD  CONSTRAINT [FK_X_Dim] FOREIGN KEY([dim])
REFERENCES [dbo].[D] ([dim])
GO
ALTER TABLE [dbo].[X] CHECK CONSTRAINT [FK_X_Dim]
GO
ALTER TABLE [dbo].[X]  WITH CHECK ADD  CONSTRAINT [FK_X_N] FOREIGN KEY([n])
REFERENCES [dbo].[N] ([n])
GO
ALTER TABLE [dbo].[X] CHECK CONSTRAINT [FK_X_N]
GO
ALTER TABLE [dbo].[Z]  WITH CHECK ADD  CONSTRAINT [FK_Z_K1] FOREIGN KEY([k])
REFERENCES [dbo].[K] ([k])
GO
ALTER TABLE [dbo].[Z] CHECK CONSTRAINT [FK_Z_K1]
GO
ALTER TABLE [dbo].[Z]  WITH CHECK ADD  CONSTRAINT [FK_Z_N] FOREIGN KEY([n])
REFERENCES [dbo].[N] ([n])
GO
ALTER TABLE [dbo].[Z] CHECK CONSTRAINT [FK_Z_N]
GO
ALTER TABLE [dbo].[Z_hist]  WITH CHECK ADD  CONSTRAINT [FK_Z_hist_K] FOREIGN KEY([k])
REFERENCES [dbo].[K] ([k])
GO
ALTER TABLE [dbo].[Z_hist] CHECK CONSTRAINT [FK_Z_hist_K]
GO
ALTER TABLE [dbo].[Z_hist]  WITH CHECK ADD  CONSTRAINT [FK_Z_hist_N] FOREIGN KEY([n])
REFERENCES [dbo].[N] ([n])
GO
ALTER TABLE [dbo].[Z_hist] CHECK CONSTRAINT [FK_Z_hist_N]
GO
ALTER TABLE [dbo].[Z_hist]  WITH CHECK ADD  CONSTRAINT [FK_Z_hist_STEP] FOREIGN KEY([stepNo])
REFERENCES [dbo].[STEP] ([no])
GO
ALTER TABLE [dbo].[Z_hist] CHECK CONSTRAINT [FK_Z_hist_STEP]
GO
ALTER TABLE [dbo].[All_perm]  WITH CHECK ADD  CONSTRAINT [CK_All_Perm_sign] CHECK  (([sign]=(1) OR [sign]=(-1)))
GO
ALTER TABLE [dbo].[All_perm] CHECK CONSTRAINT [CK_All_Perm_sign]
GO
ALTER TABLE [dbo].[Perm_info]  WITH CHECK ADD  CONSTRAINT [CK_Perm_info_sign] CHECK  (([sign]=(1) OR [sign]=(-1)))
GO
ALTER TABLE [dbo].[Perm_info] CHECK CONSTRAINT [CK_Perm_info_sign]
GO
/****** Object:  StoredProcedure [dbo].[spAddPoints]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAddPoints]
	@points points READONLY
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	declare @maxN int
	SELECT @maxN = ISNULL(MAX(n), 0)
	FROM N

	declare @mapping table(initial int, after int, primary key clustered(initial,after))
	INSERT INTO @mapping(initial, after)
	SELECT pts.n, ROW_NUMBER() OVER (ORDER BY pts.n) + @maxN
	FROM (
		SELECT DISTINCT n
		FROM @points pts
	) pts

	INSERT INTO N(n, initialK)
	SELECT map.after, initialK
	FROM @mapping map
	JOIN (
		SELECT pts.n, MAX(initialK) initialK
		FROM @points pts
		GROUP BY pts.n
	) pts ON map.initial = pts.n

	INSERT INTO X(n, dim, val)
	SELECT map.after, pts.dim, pts.val
	FROM @mapping map
	JOIN @points pts ON map.initial = pts.n

	declare @stepNo int, @algorythmName varchar(50)
	SELECT @stepNo = s.no, @algorythmName = a.name
	FROM Algorythms a
	JOIN (
		SELECT algorythm, no, ROW_NUMBER() OVER(ORDER BY no DESC) rn
		FROM STEP
	) s ON a.id = s.algorythm AND s.rn = 1

	IF @algorythmName = 'K-NN'
	BEGIN
		DELETE FROM Neighbours

		;WITH Ns AS (
			SELECT X.n, X2.n n2, SUM((X.val - X2.val)*(X.val - X2.val)) distance
			FROM X
			JOIN X X2 ON X.n <> X2.n AND X.dim = X2.dim
			GROUP BY X.n, X2.n
		)
		INSERT INTO Neighbours(n, neighbour_n)
		SELECT N_N.n, N_N.n2
		FROM (
			SELECT Ns.n, MIN(Ns.n2) n2
			FROM Ns
			JOIN (
				SELECT Ns.n, MIN(Ns.distance) min_distance
				FROM Ns
				GROUP BY Ns.n
			) N_min ON Ns.n = N_min.n AND Ns.distance = N_min.min_distance
			GROUP BY Ns.n --cum pot aparea duplicate din cauza faptului ca 2 puncte pot fi la aceeasi distanta de punctul ales, alegem doar unul dintre ele
		) N_N
	END
	ELSE IF @algorythmName = 'EM' AND @stepNo >= 0
	BEGIN
		--Daca s-a inceput algoritmul, iar punctele sunt adaugate pe parcurs, va trebui sa se tina cont de asta.
		INSERT INTO Z(n, k, val)
		SELECT map.after, K.k, 0
		FROM @mapping map
		CROSS JOIN K
		
		--exec spCalcDeterminants
		exec spCalcProbabilityDensity
	END
END



GO
/****** Object:  StoredProcedure [dbo].[spCalcDeterminants]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCalcDeterminants]
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET XACT_ABORT ON;

	declare @r int
	SELECT @r = MAX(dim)
	FROM D

	IF @r = 1
	BEGIN
		UPDATE K
		SET K.det = S.val
		FROM K
		JOIN S ON K.k = S.k

		RETURN
	END

	IF @r = 2
	BEGIN
		UPDATE K
		SET K.det = a*d - b*c
		FROM K
		JOIN (
			SELECT
				k,
				SUM(CASE WHEN dim1 = 1 AND dim2 = 1 THEN val END) a,
				SUM(CASE WHEN dim1 = 1 AND dim2 = 2 THEN val END) b,
				SUM(CASE WHEN dim1 = 2 AND dim2 = 1 THEN val END) c,
				SUM(CASE WHEN dim1 = 2 AND dim2 = 2 THEN val END) d
			FROM S
			GROUP BY k
		) ST ON K.k = ST.k

		RETURN
	END

	IF @r = 3
	BEGIN
		UPDATE K
		SET K.det = a*(e*i - f*h) - b*(d*i - f*g) + c*(d*h - e*g)
		FROM K
		JOIN (
			SELECT
				k,
				SUM(CASE WHEN dim1 = 1 AND dim2 = 1 THEN val END) a,
				SUM(CASE WHEN dim1 = 1 AND dim2 = 2 THEN val END) b,
				SUM(CASE WHEN dim1 = 1 AND dim2 = 3 THEN val END) c,
				SUM(CASE WHEN dim1 = 2 AND dim2 = 1 THEN val END) d,
				SUM(CASE WHEN dim1 = 2 AND dim2 = 2 THEN val END) e,
				SUM(CASE WHEN dim1 = 2 AND dim2 = 3 THEN val END) f,
				SUM(CASE WHEN dim1 = 3 AND dim2 = 1 THEN val END) g,
				SUM(CASE WHEN dim1 = 3 AND dim2 = 2 THEN val END) h,
				SUM(CASE WHEN dim1 = 3 AND dim2 = 3 THEN val END) i
			FROM S
			GROUP BY k
		) ST ON K.k = ST.k

		RETURN
	END

	--for @r > 3
	declare @k int = (SELECT MAX(k) FROM K)
	declare @sk dbo.Matrix

	WHILE @k > 0
	BEGIN
		INSERT INTO @sk(dim1, dim2, val)
		SELECT dim1, dim2, val
		FROM S
		WHERE k = @k

		declare @det float = dbo.fnDeterminant(@sk)

		UPDATE K
		SET K.det = @det
		WHERE k = @k

		DELETE FROM @sk
		
		SET @k = @k - 1
	END

	----for @r > 3
	--UPDATE K
	--SET K.det = Det.det
	--FROM K
	--JOIN (
	--	SELECT K.k, SUM(sign * dbo.fnPermProd(permNo, k)) det
	--	FROM K
	--	CROSS JOIN Perm_info
	--	GROUP BY K.k
	--) Det ON K.k = Det.k
END



GO
/****** Object:  StoredProcedure [dbo].[spCalcProbabilityDensity]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCalcProbabilityDensity]
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET XACT_ABORT ON;

	declare @r int
	SELECT @r = MAX(dim)
	FROM D;

	if @r = 1
	BEGIN
		UPDATE Z
		SET Z.probabilityDensity = EXP(-(X.val - M.val) * (X.val - M.val) / (2 * S.val)) / SQRT(2 * PI() * S.val)
		FROM Z
		JOIN S ON Z.k = S.k
		JOIN X ON Z.n = X.n
		JOIN M ON Z.k = M.k

		RETURN
	END

	if @r = 2
	BEGIN
		UPDATE Z
		SET Z.probabilityDensity = EXP(-(d*(x1-m1)*(x1-m1) + a*(x2-m2)*(x2-m2) - (b+c)*(x1-m1)*(x2-m2))/(2*k.det)) / (2 * PI() * SQRT(k.det))
		FROM Z
		JOIN K ON Z.k = K.k
		JOIN (
			SELECT
				k,
				SUM(CASE WHEN dim1 = 1 AND dim2 = 1 THEN val END) a,
				SUM(CASE WHEN dim1 = 1 AND dim2 = 2 THEN val END) b,
				SUM(CASE WHEN dim1 = 2 AND dim2 = 1 THEN val END) c,
				SUM(CASE WHEN dim1 = 2 AND dim2 = 2 THEN val END) d
			FROM S
			GROUP BY k
		) S ON Z.k = S.k
		JOIN (
			SELECT
				n,
				SUM(CASE WHEN dim = 1 THEN val END) x1,
				SUM(CASE WHEN dim = 2 THEN val END) x2
			FROM X
			GROUP BY n
		) X ON Z.n = X.n
		JOIN (
			SELECT
				k,
				SUM(CASE WHEN dim = 1 THEN val END) m1,
				SUM(CASE WHEN dim = 2 THEN val END) m2
			FROM M
			GROUP BY k
		) M ON Z.k = M.k

		RETURN
	END
	
	if @r = 3
	BEGIN
		UPDATE Z
		SET Z.probabilityDensity = EXP(-((e*i-f*h)*(x1-m1)*(x1-m1)+(c*h-b*i+f*g-d*i)*(x1-m1)*(x2-m2)+(b*f-c*e+d*h-e*g)*(x1-m1)*(x3-m3)+(a*i-c*g)*(x2-m2)*(x2-m2)+(c*d-a*f+b*g-a*h)*(x2-m2)*(x3-m3)+(a*e-b*d)*(x3-m3)*(x3-m3))/(2*k.det)) / (2 * PI() * SQRT(k.det)) --probabilitatea sa fie gresita e destul de mare...
		FROM Z
		JOIN K ON Z.k = K.k
		JOIN (
			SELECT
				k,
				SUM(CASE WHEN dim1 = 1 AND dim2 = 1 THEN val END) a,
				SUM(CASE WHEN dim1 = 1 AND dim2 = 2 THEN val END) b,
				SUM(CASE WHEN dim1 = 1 AND dim2 = 3 THEN val END) c,
				SUM(CASE WHEN dim1 = 2 AND dim2 = 1 THEN val END) d,
				SUM(CASE WHEN dim1 = 2 AND dim2 = 2 THEN val END) e,
				SUM(CASE WHEN dim1 = 2 AND dim2 = 3 THEN val END) f,
				SUM(CASE WHEN dim1 = 3 AND dim2 = 1 THEN val END) g,
				SUM(CASE WHEN dim1 = 3 AND dim2 = 2 THEN val END) h,
				SUM(CASE WHEN dim1 = 3 AND dim2 = 3 THEN val END) i
			FROM S
			GROUP BY k
		) S ON Z.k = S.k
		JOIN (
			SELECT
				n,
				SUM(CASE WHEN dim = 1 THEN val END) x1,
				SUM(CASE WHEN dim = 2 THEN val END) x2,
				SUM(CASE WHEN dim = 3 THEN val END) x3
			FROM X
			GROUP BY n
		) X ON Z.n = X.n
		JOIN (
			SELECT
				k,
				SUM(CASE WHEN dim = 1 THEN val END) m1,
				SUM(CASE WHEN dim = 2 THEN val END) m2,
				SUM(CASE WHEN dim = 3 THEN val END) m3
			FROM M
			GROUP BY k
		) M ON Z.k = M.k

		RETURN
	END

	--for @r > 3

	
	declare @k int = (SELECT MAX(k) FROM K)
	declare @s_inv dbo.Matrix

	WHILE @k > 0
	BEGIN

		DELETE FROM @s_inv

		INSERT INTO @s_inv(dim1, dim2, val)
		SELECT dim1, dim2, val
		FROM dbo.fnSInverse(@k)

		;WITH DIF AS (
			SELECT X.n, X.dim, X.val - M.val dif
			FROM X
			JOIN M ON X.dim = M.dim
			WHERE M.k = @k
		)
		UPDATE Z
		SET Z.probabilityDensity = EXP(-MUL1.val/2) / (POWER(2*PI(), @r/2)*POWER(K.det, 0.5))
		FROM Z
		JOIN (
			SELECT DIF1.n, SUM(DIF1.dif * MUL2.val) val
			FROM DIF DIF1
			JOIN (
				SELECT DIF2.n, @k k, SInv.dim1, SUM(SInv.val * DIF2.dif) val
				FROM @s_inv SInv
				JOIN DIF DIF2 ON SInv.dim2 = DIF2.dim
				GROUP BY DIF2.n, SInv.dim1
			) MUL2 ON DIF1.n = MUL2.n AND DIF1.dim = MUL2.dim1
			GROUP BY DIF1.n
		) MUL1 ON Z.n = MUL1.n AND Z.k = @k
		JOIN K ON K.k = @k AND Z.k = K.k

		SET @k = @k - 1
	END
	
	/**/
	/*
	;WITH DIF AS (
		SELECT X.n, M.k, X.dim, X.val - M.val dif
		FROM X
		JOIN M ON X.dim = M.dim
	)
	UPDATE Z
	SET Z.probabilityDensity = EXP(-MUL1.val/2) / (POWER(2*PI(), @r/2)*POWER(K.det, 0.5))
	FROM Z
	JOIN (
		SELECT DIF1.n, DIF1.k, SUM(DIF1.dif * MUL2.val) val
		FROM DIF DIF1
		JOIN (
			SELECT DIF2.n, DIF2.k, SInv.dim1, SUM(SInv.val * DIF2.dif) val
			FROM K
			CROSS APPLY dbo.fnSInverse(K.k) SInv
			JOIN DIF DIF2 ON K.k = DIF2.k AND SInv.dim2 = DIF2.dim
			GROUP BY DIF2.n, DIF2.k, SInv.dim1
		) MUL2 ON DIF1.n = MUL2.n AND DIF1.k = MUL2.k AND DIF1.dim = MUL2.dim1
		GROUP BY DIF1.n, DIF1.k
	) MUL1 ON Z.n = MUL1.n AND Z.k = MUL1.k
	JOIN K ON Z.k = K.k
	*/
END



GO
/****** Object:  StoredProcedure [dbo].[spCalcZForRandomPoints]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCalcZForRandomPoints]
	@points dbo.Points READONLY
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET XACT_ABORT ON;
	
	declare @algorythmName varchar(50)
	SELECT @algorythmName = a.name
	FROM Algorythms a
	JOIN (
		SELECT algorythm, no, ROW_NUMBER() OVER(ORDER BY no DESC) rn
		FROM STEP
	) s ON a.id = s.algorythm AND s.rn = 1

	IF @algorythmName IN ('EM', 'K-Means') OR @algorythmName IS NULL
	BEGIN
		declare @r int
		SELECT @r = MAX(dim)
		FROM D;

		;WITH DIF AS (
			SELECT X.n, M.k, X.dim, X.val - M.val dif
			FROM @points X
			JOIN M ON X.dim = M.dim
		),
		Z_r AS (
			SELECT MUL1.n, MUL1.k, EXP(-MUL1.val/2) / (POWER(2*PI(), @r/2)*POWER(K.det, 0.5)) probabilityDensity
			FROM (
				SELECT DIF1.n, DIF1.k, SUM(DIF1.dif * MUL2.val) val
				FROM DIF DIF1
				JOIN (
					SELECT DIF2.n, DIF2.k, SInv.dim1, SUM(SInv.val * DIF2.dif) val
					FROM K
					CROSS APPLY dbo.fnSInverse(K.k) SInv
					JOIN DIF DIF2 ON K.k = DIF2.k AND SInv.dim2 = DIF2.dim
					GROUP BY DIF2.n, DIF2.k, SInv.dim1
				) MUL2 ON DIF1.n = MUL2.n AND DIF1.k = MUL2.k AND DIF1.dim = MUL2.dim1
				GROUP BY DIF1.n, DIF1.k
			) MUL1
			JOIN K ON MUL1.k = K.k
		)
		SELECT Z_r.n, Z_r.k, P.val * Z_r.probabilityDensity / T.total val
		FROM Z_r
		JOIN P ON Z_r.k = P.k
		JOIN (
			SELECT Z_r.n, SUM(P.val * Z_r.probabilityDensity) total
			FROM P
			JOIN Z_r ON P.k = Z_r.k
			GROUP BY Z_r.n
		) T ON Z_r.n = T.n
		ORDER BY Z_r.n, Z_r.k
	END
	ELSE IF @algorythmName = 'K-NN'
	BEGIN
		declare @neighbours table(n int, neighbour_n int, primary key clustered (n, neighbour_n))
		
		;WITH Ns AS (
			SELECT X.n, X2.n n2, SUM((X.val - X2.val)*(X.val - X2.val)) distance
			FROM @points X
			JOIN X X2 ON X.dim = X2.dim
			GROUP BY X.n, X2.n
		)
		INSERT INTO @neighbours(n, neighbour_n)
		SELECT N_N.n, N_N.n2
		FROM (
			SELECT Ns.n, MIN(Ns.n2) n2
			FROM Ns
			JOIN (
				SELECT Ns.n, MIN(Ns.distance) min_distance
				FROM Ns
				GROUP BY Ns.n
			) N_min ON Ns.n = N_min.n AND Ns.distance = N_min.min_distance
			GROUP BY Ns.n --cum pot aparea duplicate din cauza faptului ca 2 puncte pot fi la aceeasi distanta de punctul ales, alegem doar unul dintre ele
		) N_N

		SELECT X.n, Z.k, Z.val
		FROM @points X
		JOIN @neighbours Ns ON X.n = Ns.n
		JOIN Z ON Ns.neighbour_n = Z.n
	END
END


GO
/****** Object:  StoredProcedure [dbo].[spFixKValuesAndShowScore]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spFixKValuesAndShowScore]
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET XACT_ABORT ON;

	exec spFixKValuesUsingInitialK

	exec spReturnPointsSummary

	;with point_info as (
		select n, initialK, assignedK
		from (
			select N.n, n.initialK, Z.k assignedK, ROW_NUMBER() over (partition by N.n order by Z.k) rn
			from N
			join Z on N.n = Z.n
			join (
				select Z.n, max(val) maxVal
				from Z
				group by Z.n
			) Z_max on N.n = Z_max.n and Z.val = Z_max.maxVal
		) pts
		where rn = 1
	)
	select correct, total, correct * 100.0/total score
	from (
		select count(*) correct, (select count(*) from point_info) total
		from point_info
		where initialK = assignedK
	) scores
END


GO
/****** Object:  StoredProcedure [dbo].[spFixKValuesUsingInitialK]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spFixKValuesUsingInitialK]
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET XACT_ABORT ON;

	begin tran

	declare @optimal_perm table(initialK int not null, finalK int not null, primary key(initialK), unique(finalK))

	;with Perm_outcomes as
	(
		select Ps.permNo, count(*) cnt
		from N
		join Z on N.n = Z.n
		join (
			select Z.n, min(Z.K) k_max
			from (
				select Z.n, max(val) maxVal
				from Z
				group by Z.n
			) Z_max
			join Z on Z.n = Z_max.n and Z.val = Z_max.maxVal
			group by Z.n
		) Z_max on Z.n = Z_max.n and Z.k = Z_max.k_max
		join Permutations Ps on N.initialK = Ps.i and Z.k = Ps.no
		group by Ps.permNo
	)
	insert into @optimal_perm (initialK, finalK)
	select no, i
	from Permutations
	where permNo = (
		select min(permNo)
		from Perm_outcomes po
		where po.cnt = (select max(cnt) from Perm_outcomes)
	)

	update K
	set K.k = o.finalK
	from K
	join @optimal_perm o on K.k = o.initialK
	
	update M
	set M.k = o.finalK
	from M
	join @optimal_perm o on M.k = o.initialK
	
	update P
	set P.k = o.finalK
	from P
	join @optimal_perm o on P.k = o.initialK
	
	update S
	set S.k = o.finalK
	from S
	join @optimal_perm o on S.k = o.initialK
	
	update Z
	set Z.k = o.finalK
	from Z
	join @optimal_perm o on Z.k = o.initialK

	commit
END


GO
/****** Object:  StoredProcedure [dbo].[spFullEM]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spFullEM]
	@maxSteps int = 20,
	@maxInitialSteps int = 4,
	@initializationMethod int = 2, --1 = initializare random; 2 - initializare k-means; 3 - initializare supervizata folosind initialK
	@isDebug bit = 1
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET XACT_ABORT ON;

	exec spResetSteps @maxInitialSteps, @initializationMethod

	declare @i int = 1
	while @i <= @maxSteps
	begin
		exec spStepEM @i

		if @isDebug = 1
			exec spVerifyCorrectness
		
		if dbo.fnIsConvergent(@i) = 1
			break

		SET @i = @i + 1
	end
END



GO
/****** Object:  StoredProcedure [dbo].[spFullKMeans]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spFullKMeans]
	@maxSteps int = 20,
	@isDebug bit = 1
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET XACT_ABORT ON;

	exec spResetSteps 1,1

	declare @i int = 1
	while @i <= @maxSteps
	begin
		exec spStepKMeans @i

		if @isDebug = 1
			exec spVerifyCorrectness
		
		if dbo.fnIsConvergent(@i) = 1
			break

		SET @i = @i + 1
	end
END



GO
/****** Object:  StoredProcedure [dbo].[spFullKNN]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spFullKNN]
	@numberOfNeighbours int = 1,
	@maxSteps int = 20,
	@isDebug bit = 1
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET XACT_ABORT ON;

	exec spResetSteps 1,1

	declare @i int = 1
	while @i <= @maxSteps
	begin
		exec spStepKNN @numberOfNeighbours, @i

		if @isDebug = 1
			exec spVerifyCorrectness
		
		if dbo.fnIsConvergent(@i) = 1
			break

		SET @i = @i + 1
	end
END



GO
/****** Object:  StoredProcedure [dbo].[spGetCurrentStep]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetCurrentStep]
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET XACT_ABORT ON;

    SELECT MAX(no)
	FROM STEP
END


GO
/****** Object:  StoredProcedure [dbo].[spGetDaviesBouldinIndex]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Acest SP returneaza un index care evalueaza cat de bine s-a facut clusterlizarea. Cu cat valoarea este mai mica, cu atat este mai bine.
CREATE PROCEDURE [dbo].[spGetDaviesBouldinIndex]
	@q int = 2,
	@p int = 2
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	declare @s table(k int primary key not null, val float not null)
	declare @l table(k1 int not null, k2 int not null, val float not null, primary key(k1, k2))

	;WITH POINTS AS (
		SELECT Z.n, MAX(Z.k) k
		FROM (
			SELECT n, MAX(val) max_val
			FROM EM.dbo.Z
			GROUP BY n
		) Z_max
		JOIN EM.dbo.Z ON Z_max.n = Z.n AND Z_max.max_val = Z.val
		GROUP BY Z.n --aceasta precautie (acest ultim group by) este pt cazul in care exista pt acelasi punct doua apartenente cu aceeasi valoare maxima. In acest caz, se alege la intamplare una din cele doua clase din care va face parte. Din fericire, acest lucru este destul de improbabil.
	)
	INSERT INTO @s(k, val)
	SELECT M.k, POWER(SUM(POWER(ABS(X.val-M.val), @q))/COUNT(DISTINCT POINTS.n), 1.0/@q)
	FROM POINTS
	JOIN X ON POINTS.n = X.n
	JOIN M ON POINTS.k = M.k AND X.dim = M.dim
	GROUP BY M.k

	INSERT INTO @l(k1, k2, val)
	SELECT M1.k, M2.k, POWER(SUM(POWER(ABS(M1.val-M2.val), @p)), 1.0/@p)
	FROM M M1
	JOIN M M2 ON M1.k <> M2.k AND M1.dim = M2.dim
	GROUP BY M1.k, M2.k

	SELECT SUM(R.val)/COUNT(R.k) DB
	FROM (
		SELECT L.k1 k, MAX((S1.val+S2.val)/L.val) val
		FROM @l L
		JOIN @s S1 ON L.k1 = S1.k
		JOIN @s S2 ON L.k2 = S2.k
		GROUP BY L.k1
	) R
END


GO
/****** Object:  StoredProcedure [dbo].[spGoBackInTime]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGoBackInTime]
	@stepNo int
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET XACT_ABORT ON;

    IF @stepNo IS NULL OR (SELECT COUNT(*) FROM STEP WHERE STEP.no = @stepNo) = 0
		RAISERROR('This is wrong somehow.', 16, 3);

	BEGIN TRAN
	
	DELETE FROM M

	INSERT INTO M(k, dim, val)
	SELECT k, dim, val
	FROM M_hist
	WHERE stepNo = @stepNo

	DELETE FROM M_hist
	WHERE stepNo > @stepNo

	DELETE FROM P

	INSERT INTO P(k, val)
	SELECT k, val
	FROM P_hist
	WHERE stepNo = @stepNo

	DELETE FROM P_hist
	WHERE stepNo > @stepNo
	
	DELETE FROM S

	INSERT INTO S(k, dim1, dim2, val)
	SELECT k, dim1, dim2, val
	FROM S_hist
	WHERE stepNo = @stepNo

	DELETE FROM S_hist
	WHERE stepNo > @stepNo
	
	DELETE FROM Z

	INSERT INTO Z(n, k, val)
	SELECT n, k, val
	FROM Z_hist
	WHERE stepNo = @stepNo

	DELETE FROM Z_hist
	WHERE stepNo > @stepNo

	DELETE FROM STEP
	WHERE STEP.no > @stepNo

	exec spCalcDeterminants
	exec spCalcDeterminants

	COMMIT
END


GO
/****** Object:  StoredProcedure [dbo].[spInitializeMSPZ]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spInitializeMSPZ]
	@mode int = 2, --1 = initializare random; 2 - initializare k-means; 3 - initializare supervizata folosind initialK
	@noOfKMeansSteps int = 4
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	declare @maxK int
	SELECT @maxK = MAX(k)
	FROM K

	declare @maxD int
	SELECT @maxD = MAX(dim)
	FROM D
	
	declare @maxN int
	SELECT @maxN = MAX(n)
	FROM N

	--Mediile sunt initiate la intamplare din totalul de puncte
	declare @means table(k int, n int, primary key clustered(n))
	declare @n int
	declare @i int = 1

	WHILE @i <= @maxK
	BEGIN
		SET @n = ROUND(RAND()*(@maxN-1)+1, 0)

		WHILE EXISTS ( --Acelasi punct a fost ales deja
			SELECT 1
			FROM @means
			WHERE n = @n
		)
		OR EXISTS ( --Un punct cu aceeasi valoare a fost ales deja
			SELECT 1
			FROM @means MNS
			JOIN X X1 ON MNS.n = X1.n
			JOIN X X2 ON X2.n = @n AND X1.dim = X2.dim AND X1.val = X2.val
			GROUP BY MNS.n
			HAVING COUNT(X1.dim) = @maxD
		)
			SET @n = ROUND(RAND()*(@maxN-1)+1, 0)

		INSERT INTO @means(k, n)
		VALUES (@i, @n)

		SET @i = @i + 1
	END

	INSERT INTO M(k, dim, val)
	SELECT MNS.k, X.dim, X.val
	FROM @means MNS
	JOIN X ON MNS.n = X.n
	
	--Tre initiate si Z-urile initiale (nimic nu apartine nicaieri momentan)
	INSERT INTO Z(n, k, val)
	SELECT N.n, K.k, 0
	FROM N
	CROSS JOIN K

	IF @mode = 3
	BEGIN
		--Varianta supervizata folosind initialK
		UPDATE Z
		SET Z.val = 1
		FROM Z
		JOIN N ON Z.n = N.n AND Z.k = N.initialK

		--Punctele care n-au initialK sunt asignate random, desi n-ar trebui sa existe asemenea puncte
		declare @k int
		WHILE EXISTS (
			SELECT 1
			FROM Z
			GROUP BY Z.n, Z.k
			HAVING MAX(Z.val) = 0
		)
		BEGIN
			SET @k = ROUND(RAND()*(@maxK-1)+1, 0)
			SET @n = (
				SELECT MIN(n)
				FROM (
					SELECT n
					FROM Z
					GROUP BY Z.n, Z.k
					HAVING MAX(Z.val) = 0
				) Z_noVal
			)

			UPDATE Z
			SET val = 1
			WHERE n = @n
			AND k = @k
		END

		--Recalculat mediile
		UPDATE M
		SET M.val = T.average
		FROM M
		JOIN (
			SELECT Z.k, X.dim, AVG(X.val) average --SUM(X.val) total, COUNT(X.val) cnt
			FROM X
			JOIN Z ON X.n = Z.n AND Z.val = 1
			GROUP BY Z.k, X.dim
		) T ON M.k = T.k AND M.dim = T.dim
	END
	ELSE IF @mode = 2
	BEGIN
		--Varianta K-Means
		SET @i = 1
		WHILE @i <= @noOfKMeansSteps
		BEGIN
			--Aflat apartenenta fiecarui punct
			UPDATE Z
			SET Z.val = 0

			;WITH T AS ( --vai ce urat
				SELECT X.n, M.k, SUM((X.val - M.val)*(X.val - M.val)) norm
				FROM X
				JOIN M ON X.dim = M.dim
				GROUP BY X.n, M.k
			)
			UPDATE Z
			SET Z.val = 1
			FROM Z
			JOIN (
				SELECT T2.n, MIN(T2.k) minK
				FROM (
					SELECT T.n, MIN(T.norm) minNorm
					FROM T
					GROUP BY T.n
				) T1
				JOIN T T2 ON T1.n = T2.n AND T1.minNorm = T2.norm
				GROUP BY T2.n
			) MinK ON Z.n = MinK.n AND Z.k = MinK.minK

			--Recalculat mediile
			UPDATE M
			SET M.val = T.average
			FROM M
			JOIN (
				SELECT Z.k, X.dim, AVG(X.val) average --SUM(X.val) total, COUNT(X.val) cnt
				FROM X
				JOIN Z ON X.n = Z.n AND Z.val = 1
				GROUP BY Z.k, X.dim
			) T ON M.k = T.k AND M.dim = T.dim

			SET @i = @i + 1
		END

	END
	ELSE
	BEGIN
		--varianta random
		--Aflat apartenenta fiecarui punct
		UPDATE Z
		SET Z.val = 0

		;WITH T AS ( --vai ce urat
			SELECT X.n, M.k, SUM((X.val - M.val)*(X.val - M.val)) norm
			FROM X
			JOIN M ON X.dim = M.dim
			GROUP BY X.n, M.k
		)
		UPDATE Z
		SET Z.val = 1
		FROM Z
		JOIN (
			SELECT T2.n, MIN(T2.k) minK
			FROM (
				SELECT T.n, MIN(T.norm) minNorm
				FROM T
				GROUP BY T.n
			) T1
			JOIN T T2 ON T1.n = T2.n AND T1.minNorm = T2.norm
			GROUP BY T2.n
		) MinK ON Z.n = MinK.n AND Z.k = MinK.minK
	END
	
	IF EXISTS (
		SELECT 1
		FROM Algorythms a
		JOIN STEP s ON a.id = s.algorythm AND s.no = -1 AND a.name IN ('EM','K-Means')
	)
	BEGIN
		--Calculat P
		INSERT INTO P(k, val)
		SELECT k, COUNT(n) / convert(float, @maxN)
		FROM Z
		WHERE Z.val = 1
		GROUP BY Z.k

		--Calculat S
		;WITH DIF AS (
			SELECT X.n, M.k, X.dim, X.val - M.val dif
			FROM X
			JOIN Z ON X.n = Z.n AND Z.val = 1
			JOIN M ON Z.k = M.k AND X.dim = M.dim
		),
		T AS (
			SELECT /*D1.n, */D1.k, D1.dim dim1, D2.dim dim2, AVG(D1.dif * D2.dif) mean
			FROM DIF D1
			JOIN DIF D2 ON D1.n = D2.n AND D1.k = D2.k
			GROUP BY D1.k, D1.dim, D2.dim
		)
		INSERT INTO S(k, dim1, dim2, val)
		SELECT T.k, T.dim1, T.dim2, T.mean
		FROM T
	END
END



GO
/****** Object:  StoredProcedure [dbo].[spResetAll]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spResetAll]
	@dim int = 1,
	@k int = 2,
	@algorythm varchar(50) = null
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;

	BEGIN TRAN

	IF (@algorythm IS NOT NULL AND NOT EXISTS(SELECT 1 FROM Algorythms WHERE name = @algorythm))
		THROW 51000, 'Wrong algorythm!', 1
	
	TRUNCATE TABLE Z_hist
	TRUNCATE TABLE Z
	TRUNCATE TABLE X
	TRUNCATE TABLE S_hist
	TRUNCATE TABLE S
	TRUNCATE TABLE P_hist
	TRUNCATE TABLE P
	TRUNCATE TABLE M_hist
	TRUNCATE TABLE M
	DELETE FROM STEP
	DELETE FROM N
	TRUNCATE TABLE Permutations
	DELETE FROM Perm_info
	DELETE FROM K
	DELETE FROM D
	DELETE FROM Neighbours
	--DO NOT DELETE FROM All_perm
	--DO NOT DELETE FROM Algorythms

	DECLARE @i int = 1
	
	WHILE @i <= @dim
	BEGIN
		INSERT INTO D(dim)
		VALUES (@i)

		SET @i = @i + 1
	END

	SET @i = 1
	WHILE @i <= @k
	BEGIN
		INSERT INTO K(k)
		VALUES (@i)

		SET @i = @i + 1
	END

	INSERT INTO STEP(no, running, j, algorythm)
	SELECT -1, 0, null, id
	FROM Algorythms
	WHERE name = @algorythm

	--Cache-uiri de permutari
	declare @perms dbo.perm

	IF EXISTS (SELECT 1 FROM All_perm WHERE n = @k)
		INSERT INTO @perms(permNo, i, no, sign)
		SELECT permNo, i, no, sign
		FROM All_perm
		WHERE n = @k
	ELSE IF @k < 10 --pentru performanta; fnPerm(9) ia cam 7 minute sa ruleze
	BEGIN
		INSERT INTO @perms(permNo, i, no, sign)
		SELECT permNo, i, no, sign
		FROM dbo.fnPerm(@k)
		
		INSERT INTO All_perm(n, permNo, i, no, sign)
		SELECT @k, permNo, i, no, sign
		FROM @perms
	END

	INSERT INTO Perm_info(permNo, sign)
	SELECT DISTINCT permNo, sign
	FROM @perms

	INSERT INTO Permutations(permNo, i, no)
	SELECT permNo, i, no
	FROM @perms
	
	COMMIT
END



GO
/****** Object:  StoredProcedure [dbo].[spResetSteps]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spResetSteps]
	@maxInitialSteps int = 4,
	@initializationMethod int = 2, --1 = initializare random; 2 - initializare k-means; 3 - initializare supervizata folosind initialK
	@newK int = NULL
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	
	BEGIN TRAN

	TRUNCATE TABLE M_hist
	TRUNCATE TABLE S_hist
	TRUNCATE TABLE P_hist
	TRUNCATE TABLE Z_hist
	DELETE FROM STEP WHERE no >= 0
	TRUNCATE TABLE Z
	TRUNCATE TABLE S
	TRUNCATE TABLE P
	TRUNCATE TABLE M

	IF @newK IS NOT NULL
	BEGIN
		DELETE FROM K

		DECLARE @i int = 1
		WHILE @i <= @newK
		BEGIN
			INSERT INTO K(k)
			VALUES (@i)

			SET @i = @i + 1
		END
	END
	
	exec spInitializeMSPZ @initializationMethod, @maxInitialSteps
	
	IF (
		SELECT name
		FROM Algorythms a
		JOIN STEP s ON a.id = s.algorythm
		AND s.no = -1
	) = 'EM'
	BEGIN
		exec spCalcDeterminants

		exec spCalcProbabilityDensity
	END

	INSERT INTO STEP(no, running, j)
	VALUES (0, 0, NULL)

	INSERT INTO M_hist (stepNo, k, dim, val)
	SELECT 0, M.k, M.dim, M.val
	FROM M

	INSERT INTO P_hist (stepNo, k, val)
	SELECT 0, P.k, P.val
	FROM P

	INSERT INTO S_hist (stepNo, k, dim1, dim2, val)
	SELECT 0, S.k, S.dim1, S.dim2, S.val
	FROM S

	INSERT INTO Z_hist (stepNo, n, k, val)
	SELECT 0, Z.n, Z.k, Z.val
	FROM Z

	COMMIT
END



GO
/****** Object:  StoredProcedure [dbo].[spReturnPoints]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spReturnPoints]
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET XACT_ABORT ON;

	DECLARE @maxD int, @maxK int, @i int, @j int
	
	SELECT @maxD = MAX(dim)
	FROM D
	
	SELECT @maxK = MAX(k)
	FROM K

	DECLARE @sql varchar(max) = 'SELECT XT.n'

	SET @i = 1
	WHILE @i <= @maxD
	BEGIN
		SET @sql = @sql + ', XT.x' + CONVERT(varchar, @i)
		SET @i = @i + 1
	END

	SET @sql = @sql + ', N.initialK'
	
	SET @i = 1
	WHILE @i <= @maxK
	BEGIN
		SET @sql = @sql + ', ZT.z' + CONVERT(varchar, @i)
		SET @i = @i + 1
	END

	SET @sql = @sql + '
FROM (
	SELECT X.n'
	
	SET @i = 1
	WHILE @i <= @maxD
	BEGIN
		SET @sql = @sql + ', SUM(CASE WHEN X.dim = ' + CONVERT(varchar, @i) + ' THEN X.val END) x' + CONVERT(varchar, @i)
		SET @i = @i + 1
	END

	SET @sql = @sql + '
	FROM X
	GROUP BY X.n
) XT
JOIN N ON XT.n = N.n
JOIN (
	SELECT Z.n'
	
	SET @i = 1
	WHILE @i <= @maxK
	BEGIN
		SET @sql = @sql + ', SUM(CASE WHEN Z.k = ' + CONVERT(varchar, @i) + ' THEN Z.val END) z' + CONVERT(varchar, @i)
		SET @i = @i + 1
	END

	SET @sql = @sql + '
	FROM Z
	GROUP BY Z.n
) ZT ON XT.n = ZT.n

SELECT MT.k'

	SET @i = 1
	WHILE @i <= @maxD
	BEGIN
		SET @sql = @sql + ', MT.m' + CONVERT(varchar, @i)
		SET @i = @i + 1
	END
	
	SET @i = 1
	WHILE @i <= @maxD
	BEGIN
		SET @j = 1
		WHILE @j <= @maxD
		BEGIN
			SET @sql = @sql + ', ST.s' + CONVERT(varchar, @i) + CONVERT(varchar, @j)
			SET @j = @j + 1
		END
		SET @i = @i + 1
	END

	SET @sql = @sql + '
FROM (
	SELECT M.k'
	
	SET @i = 1
	WHILE @i <= @maxD
	BEGIN
		SET @sql = @sql + ', SUM(CASE WHEN M.dim = ' + CONVERT(varchar, @i) + ' THEN M.val END) m' + CONVERT(varchar, @i)
		SET @i = @i + 1
	END

	SET @sql = @sql + '
	FROM M
	GROUP BY M.k
) MT JOIN (
	SELECT S.k'

	SET @i = 1
	WHILE @i <= @maxD
	BEGIN
		SET @j = 1
		WHILE @j <= @maxD
		BEGIN
			SET @sql = @sql + ', SUM(CASE WHEN S.dim1 = ' + CONVERT(varchar, @i) + ' AND S.dim2 = ' + CONVERT(varchar, @j) + ' THEN S.val END) s' + CONVERT(varchar, @i) + CONVERT(varchar, @j)
			SET @j = @j + 1
		END
		SET @i = @i + 1
	END

	SET @sql = @sql + '
	FROM S
	GROUP BY S.k
) ST ON MT.k = ST.k'

	print @sql

	exec(@sql)
END



GO
/****** Object:  StoredProcedure [dbo].[spReturnPointsOptimized]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spReturnPointsOptimized]
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET XACT_ABORT ON;

	DECLARE @maxD int, @maxK int, @i int, @j int
	
	SELECT @maxD = MAX(dim)
	FROM D
	
	SELECT @maxK = MAX(k)
	FROM K

	DECLARE @sql varchar(8000) = 'SELECT N.n, N.initialK'

	SET @i = 1
	WHILE @i <= @maxK
	BEGIN
		SET @sql = @sql + ', ZT.z' + CONVERT(varchar, @i)
		SET @i = @i + 1
	END

	SET @sql = @sql + '
FROM N
JOIN (
	SELECT Z.n'
	
	SET @i = 1
	WHILE @i <= @maxK
	BEGIN
		SET @sql = @sql + ', SUM(CASE WHEN Z.k = ' + CONVERT(varchar, @i) + ' THEN Z.val END) z' + CONVERT(varchar, @i)
		SET @i = @i + 1
	END

	SET @sql = @sql + '
	FROM Z
	GROUP BY Z.n
) ZT ON N.n = ZT.n

SELECT MT.k'

	SET @i = 1
	WHILE @i <= @maxD
	BEGIN
		SET @sql = @sql + ', MT.m' + CONVERT(varchar, @i)
		SET @i = @i + 1
	END
	
	SET @i = 1
	WHILE @i <= @maxD
	BEGIN
		SET @j = 1
		WHILE @j <= @maxD
		BEGIN
			SET @sql = @sql + ', ST.s' + CONVERT(varchar, @i) + CONVERT(varchar, @j)
			SET @j = @j + 1
		END
		SET @i = @i + 1
	END

	SET @sql = @sql + '
FROM (
	SELECT M.k'
	
	SET @i = 1
	WHILE @i <= @maxD
	BEGIN
		SET @sql = @sql + ', SUM(CASE WHEN M.dim = ' + CONVERT(varchar, @i) + ' THEN M.val END) m' + CONVERT(varchar, @i)
		SET @i = @i + 1
	END

	SET @sql = @sql + '
	FROM M
	GROUP BY M.k
) MT JOIN (
	SELECT S.k'

	SET @i = 1
	WHILE @i <= @maxD
	BEGIN
		SET @j = 1
		WHILE @j <= @maxD
		BEGIN
			SET @sql = @sql + ', SUM(CASE WHEN S.dim1 = ' + CONVERT(varchar, @i) + ' AND S.dim2 = ' + CONVERT(varchar, @j) + ' THEN S.val END) s' + CONVERT(varchar, @i) + CONVERT(varchar, @j)
			SET @j = @j + 1
		END
		SET @i = @i + 1
	END

	SET @sql = @sql + '
	FROM S
	GROUP BY S.k
) ST ON MT.k = ST.k'

	--print @sql

	exec(@sql)
END



GO
/****** Object:  StoredProcedure [dbo].[spReturnPointsSummary]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spReturnPointsSummary]
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	declare @k int, @i int, @j int
	SET @k = (SELECT MAX(k) FROM K)

	DECLARE @sql nvarchar(4000) = N'
	SELECT initialK'
	
	SET @i = 1
	while @i <= @k
	BEGIN
		SET @sql = @sql + N', SUM(CASE WHEN '
		declare @beginning bit = 1

		SET @j = 1
		while @j <= @k
		BEGIN
			if @i = @j
			BEGIN
				SET @j = @j + 1
				continue
			END

			if @beginning = 0
				SET @sql = @sql + N' and '
			else
				SET @beginning = 0

			SET @sql = @sql + N'z' + convert(nvarchar(3), @i) + N'>z' + convert(nvarchar(3), @j)

			SET @j = @j + 1
		END

		SET @sql = @sql + N' THEN 1 END) c' + convert(nvarchar(3), @i)

		SET @i = @i + 1
	END

	SET @sql = @sql + N'
	FROM (
		SELECT N.n,N.initialK'

	SET @i = 1
	while @i <= @k
	BEGIN
		SET @sql = @sql + N',z' + convert(nvarchar(3), @i)

		SET @i = @i + 1
	END

	SET @sql = @sql + N'
		FROM N
		JOIN (
			SELECT Z.n'

	SET @i = 1
	while @i <= @k
	BEGIN
		SET @sql = @sql + N', SUM(CASE k WHEN ' + convert(nvarchar(3), @i) + N' THEN val END) z' + convert(nvarchar(3), @i)

		SET @i = @i + 1
	END

	SET @sql = @sql + N'
			FROM Z
			GROUP BY Z.n
		) ZT ON N.n = ZT.n
	) t
	GROUP BY initialK
	ORDER BY initialK'

	--print @sql

	exec(@sql)

	/* --exemplu:
	SELECT initialK, SUM(CASE WHEN z1 > z2 and z1 > z3 THEN 1 END) c1, SUM(CASE WHEN z2 > z1 and z2 > z3 THEN 1 END) c2, SUM(CASE WHEN z3 > z1 and z3 > z2 THEN 1 END) c3
	FROM (
		SELECT N.n,N.initialK,z1,z2,z3
		FROM N
		JOIN (
			SELECT Z.n, SUM(CASE k WHEN 1 THEN val END) z1, SUM(CASE k WHEN 2 THEN val END) z2, SUM(CASE k WHEN 3 THEN val END) z3
			FROM Z
			GROUP BY Z.n
		) ZT ON N.n = ZT.n
	) t
	GROUP BY initialK

	--alt exemplu:
	SELECT initialK, SUM(CASE WHEN z1>z2 and z1>z3 and z1>z4 and z1>z5 and z1>z6 and z1>z7 THEN 1 END) c1, SUM(CASE WHEN z2>z1 and z2>z3 and z2>z4 and z2>z5 and z2>z6 and z2>z7 THEN 1 END) c2, SUM(CASE WHEN z3>z1 and z3>z2 and z3>z4 and z3>z5 and z3>z6 and z3>z7 THEN 1 END) c3, SUM(CASE WHEN z4>z1 and z4>z2 and z4>z3 and z4>z5 and z4>z6 and z4>z7 THEN 1 END) c4, SUM(CASE WHEN z5>z1 and z5>z2 and z5>z3 and z5>z4 and z5>z6 and z5>z7 THEN 1 END) c5, SUM(CASE WHEN z6>z1 and z6>z2 and z6>z3 and z6>z4 and z6>z5 and z6>z7 THEN 1 END) c6, SUM(CASE WHEN z7>z1 and z7>z2 and z7>z3 and z7>z4 and z7>z5 and z7>z6 THEN 1 END) c7
	FROM (
		SELECT N.n,N.initialK,z1,z2,z3,z4,z5,z6,z7
		FROM N
		JOIN (
			SELECT Z.n, SUM(CASE k WHEN 1 THEN val END) z1, SUM(CASE k WHEN 2 THEN val END) z2, SUM(CASE k WHEN 3 THEN val END) z3, SUM(CASE k WHEN 4 THEN val END) z4, SUM(CASE k WHEN 5 THEN val END) z5, SUM(CASE k WHEN 6 THEN val END) z6, SUM(CASE k WHEN 7 THEN val END) z7
			FROM Z
			GROUP BY Z.n
		) ZT ON N.n = ZT.n
	) t
	GROUP BY initialK
	ORDER BY initialK
	*/
END


GO
/****** Object:  StoredProcedure [dbo].[spReturnValuesFromStep]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spReturnValuesFromStep]
	@step int
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET XACT_ABORT ON;

	IF NOT EXISTS (
		SELECT 1
		FROM STEP
		WHERE no = @step
	)
		THROW 51000, 'No step', 1

	SELECT X.n, X.dim, X.val
	FROM X
	ORDER BY n, dim

	SELECT n, k, val
	FROM Z_hist
	WHERE stepNo = @step
	ORDER BY n, k

	SELECT k, dim, val
	FROM M_hist
	WHERE stepNo = @step
	ORDER BY k, dim

	SELECT k, dim1, dim2, val
	FROM S_hist
	WHERE stepNo = @step
	ORDER BY k, dim1, dim2
END


GO
/****** Object:  StoredProcedure [dbo].[spStepEM]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spStepEM]
	@stepNo int = null
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET XACT_ABORT ON;
	
	if @stepNo IS NULL
		SELECT @stepNo = ISNULL(MAX(no),0) + 1
		FROM STEP

	BEGIN TRAN

	INSERT INTO STEP(no)
	VALUES (@stepNo)
	
	--E step
	UPDATE Z
	SET Z.val = P.val * Z.probabilityDensity / T.total
	FROM Z
	JOIN P ON Z.k = P.k
	JOIN (
		SELECT Z.n, SUM(P.val * Z.probabilityDensity) total
		FROM P
		JOIN Z ON P.k = Z.k
		GROUP BY Z.n
	) T ON Z.n = T.n

	--M step
	--Update Nk
	UPDATE K
	SET K.sumZ = Z.Nk
	FROM K
	JOIN (
		SELECT Z.k, SUM(Z.val) Nk
		FROM Z
		GROUP BY Z.k
	) Z ON K.k = Z.k

	--Update means
	UPDATE M
	SET M.val = T.total / K.sumZ
	FROM M
	JOIN K ON M.k = K.k
	JOIN (
		SELECT Z.k, X.dim, SUM(Z.val * X.val) total
		FROM Z
		JOIN X ON Z.n = X.n
		GROUP BY Z.k, X.dim
	) T ON M.k = T.k AND M.dim = T.dim

	--Update covariances
	declare @r int
	SELECT @r = MAX(dim)
	FROM D

	if @r > 0 --TODO: optimizat pt r = 1 si r = 2
		WITH DIF AS (
			SELECT X.n, M.k, M.dim, X.val - M.val dif
			FROM X
			JOIN M ON X.dim = M.dim
		),
		T AS (
			SELECT D1.n, D1.k, D1.dim dim1, D2.dim dim2, D1.dif * d2.dif prod
			FROM DIF D1
			JOIN DIF D2 ON D1.n = D2.n AND D1.k = D2.k
		)
		UPDATE S
		SET S.val = T2.val / K.sumZ
		FROM S
		JOIN K ON S.k = K.k
		JOIN (
			SELECT T.k, T.dim1, T.dim2, SUM(Z.val * T.prod) val
			FROM T
			JOIN Z ON T.k = Z.k AND T.n = Z.n
			GROUP BY T.k, T.dim1, T.dim2
		) T2 ON S.k = T2.k AND S.dim1 = T2.dim1 AND S.dim2 = T2.dim2

	--Update mixing coefficients
	UPDATE P
	SET P.val = K.sumZ / (SELECT MAX(N.n) FROM N)
	FROM P
	JOIN K ON P.k = K.k

	exec spCalcDeterminants

	exec spCalcProbabilityDensity

	--Update log likelihood
	UPDATE STEP
	SET j = (
		SELECT SUM(ln)
		FROM (
			SELECT Z.n, LOG(SUM(P.val * Z.probabilityDensity)) ln
			FROM P
			JOIN Z ON P.k = Z.k
			GROUP BY Z.n
		) L
	), algorythm = (
		SELECT id
		FROM Algorythms
		WHERE name='EM'
	)
	WHERE no = @stepNo

	UPDATE STEP
	SET running = 0
	WHERE STEP.no = @stepNo
	
	--Archive steps
	INSERT INTO M_hist (stepNo, k, dim, val)
	SELECT @stepNo, M.k, M.dim, M.val
	FROM M

	INSERT INTO P_hist (stepNo, k, val)
	SELECT @stepNo, P.k, P.val
	FROM P

	INSERT INTO S_hist (stepNo, k, dim1, dim2, val)
	SELECT @stepNo, S.k, S.dim1, S.dim2, S.val
	FROM S

	INSERT INTO Z_hist (stepNo, n, k, val)
	SELECT @stepNo, Z.n, Z.k, Z.val
	FROM Z

	COMMIT

	--SELECT @stepNo
END



GO
/****** Object:  StoredProcedure [dbo].[spStepKMeans]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spStepKMeans]
	@stepNo int = null
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET XACT_ABORT ON;
	
	if @stepNo IS NULL
		SELECT @stepNo = ISNULL(MAX(no),0) + 1
		FROM STEP

	BEGIN TRAN

	INSERT INTO STEP(no)
	VALUES (@stepNo)
	
	--Aflat apartenenta fiecarui punct
	UPDATE Z
	SET Z.val = 0

	;WITH T AS ( --vai ce urat
		SELECT X.n, M.k, SUM((X.val - M.val)*(X.val - M.val)) norm
		FROM X
		JOIN M ON X.dim = M.dim
		GROUP BY X.n, M.k
	)
	UPDATE Z
	SET Z.val = 1
	FROM Z
	JOIN (
		SELECT T2.n, MIN(T2.k) minK
		FROM (
			SELECT T.n, MIN(T.norm) minNorm
			FROM T
			GROUP BY T.n
		) T1
		JOIN T T2 ON T1.n = T2.n AND T1.minNorm = T2.norm
		GROUP BY T2.n
	) MinK ON Z.n = MinK.n AND Z.k = MinK.minK

	--Recalculat mediile
	UPDATE M
	SET M.val = T.average
	FROM M
	JOIN (
		SELECT Z.k, X.dim, AVG(X.val) average --SUM(X.val) total, COUNT(X.val) cnt
		FROM X
		JOIN Z ON X.n = Z.n AND Z.val = 1
		GROUP BY Z.k, X.dim
	) T ON M.k = T.k AND M.dim = T.dim

	--Update inverse of distortion measure
	UPDATE STEP
	SET j = (
		SELECT /*X.n, M.k, */-SUM((X.val-M.val) * (X.val-M.val)) normSum
		FROM X
		JOIN Z ON X.n = Z.n AND Z.val = 1
		JOIN M ON Z.k = M.k AND X.dim = M.dim
		--GROUP BY X.n, M.k
	), algorythm = (
		SELECT id
		FROM Algorythms
		WHERE name='K-Means'
	)
	WHERE no = @stepNo

	UPDATE STEP
	SET running = 0
	WHERE STEP.no = @stepNo

	--Arhivat
	INSERT INTO M_hist (stepNo, k, dim, val)
	SELECT @stepNo, M.k, M.dim, M.val
	FROM M

	INSERT INTO Z_hist (stepNo, n, k, val)
	SELECT @stepNo, Z.n, Z.k, Z.val
	FROM Z

	COMMIT

	--SELECT @stepNo
END



GO
/****** Object:  StoredProcedure [dbo].[spStepKNN]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spStepKNN]
	@numberOfNeighbours int = 1,
	@stepNo int = null
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET XACT_ABORT ON;
	
	if @stepNo IS NULL
		SELECT @stepNo = ISNULL(MAX(no),0) + 1
		FROM STEP

	BEGIN TRAN

	INSERT INTO STEP(no)
	VALUES (@stepNo)
	
	--Aflat apartenenta fiecarui punct
	UPDATE Z
	SET Z.val = CASE WHEN N_Z.n IS NOT NULL THEN 1 ELSE 0 END
	FROM Z
	LEFT JOIN (
		SELECT N_N.n, Z.k
		FROM Z
		JOIN Neighbours N_N ON Z.n = N_N.neighbour_n AND Z.val = 1
	) N_Z ON Z.n = N_Z.n AND Z.k = N_Z.k

	--de medii avem nevoie pentru inverse distortion measure, nu pentru functionarea algoritmului
	--Recalculat mediile
	UPDATE M
	SET M.val = T.average
	FROM M
	JOIN (
		SELECT Z.k, X.dim, AVG(X.val) average --SUM(X.val) total, COUNT(X.val) cnt
		FROM X
		JOIN Z ON X.n = Z.n AND Z.val = 1
		GROUP BY Z.k, X.dim
	) T ON M.k = T.k AND M.dim = T.dim

	--Update inverse of distortion measure
	UPDATE STEP
	SET j = (
		SELECT /*X.n, M.k, */-SUM((X.val-M.val) * (X.val-M.val)) normSum
		FROM X
		JOIN Z ON X.n = Z.n AND Z.val = 1
		JOIN M ON Z.k = M.k AND X.dim = M.dim
		--GROUP BY X.n, M.k
	), algorythm = (
		SELECT id
		FROM Algorythms
		WHERE name='K-NN'
	), running = 0
	WHERE no = @stepNo

	--Arhivat
	INSERT INTO M_hist (stepNo, k, dim, val)
	SELECT @stepNo, M.k, M.dim, M.val
	FROM M

	INSERT INTO Z_hist (stepNo, n, k, val)
	SELECT @stepNo, Z.n, Z.k, Z.val
	FROM Z

	COMMIT

	--SELECT @stepNo
END



GO
/****** Object:  StoredProcedure [dbo].[spVerifyCorrectness]    Script Date: 11/02/2020 14:14:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spVerifyCorrectness]
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @epsilon float = 0.00001
	
	IF EXISTS (
		SELECT 1
		FROM D
		HAVING MAX(dim) <> COUNT(dim)
	)
		THROW 51000, 'Incomplete dimensions!', 1

	IF EXISTS (
		SELECT 1
		FROM N
		HAVING MAX(n) <> COUNT(n)
	)
		THROW 51000, 'Incomplete numbers!', 1
		
	IF EXISTS (
		SELECT 1
		FROM K
		HAVING MAX(k) <> COUNT(k)
	)
		THROW 51000, 'Incomplete groups!', 1

	IF EXISTS (
		SELECT 1
		FROM S
		GROUP BY S.k
		HAVING MAX(dim1) <> MAX(dim2)
	)
		THROW 51000, 'Covariances not square matrixes!', 1

	IF EXISTS (
		SELECT 1
		FROM N
		LEFT JOIN X ON N.n = X.n
		WHERE X.n is null
	)
		THROW 51000, 'Not all points have values!', 1

	IF EXISTS (
		SELECT 1
		FROM X
		GROUP BY X.n
		HAVING COUNT(*) <> (
			SELECT COUNT(*) FROM D
		)
	)
		THROW 51000, 'Not all points have all dimensions!', 1
		
	IF EXISTS (
		SELECT 1
		FROM K
		LEFT JOIN M ON K.k = M.k
		WHERE M.k is null
	)
		THROW 51000, 'Not all means have values!', 1
	
	IF EXISTS (
		SELECT 1
		FROM M
		GROUP BY M.k
		HAVING COUNT(*) <> (
			SELECT COUNT(*) FROM D
		)
	)
		THROW 51000, 'Not all means have all dimensions!', 1

	IF EXISTS (
		SELECT 1
		FROM K
		LEFT JOIN S ON K.k = S.k
		WHERE S.k is null
	)
		THROW 51000, 'Not all covariances have values!', 1
	
	IF EXISTS (
		SELECT 1
		FROM S
		GROUP BY S.k, S.dim1
		HAVING COUNT(*) <> (
			SELECT COUNT(*) FROM D
		)
	)
		THROW 51000, 'Not all covariances have all dimensions2!', 1

	IF EXISTS (
		SELECT 1
		FROM S
		GROUP BY S.k, S.dim2
		HAVING COUNT(*) <> (
			SELECT COUNT(*) FROM D
		)
	)
		THROW 51000, 'Not all covariances have all dimensions1!', 1

	IF EXISTS (
		SELECT 1
		FROM K
		LEFT JOIN P ON K.k = P.k
		WHERE P.k is null
	)
		THROW 51000, 'Not all coefficients have values!', 1
	
	IF EXISTS (
		SELECT 1
		FROM P
		WHERE P.val > 1
		UNION ALL
		SELECT 1
		FROM P
		WHERE P.val < 0
	)
		THROW 51000, 'Not all coefficients have values between [0,1]!', 1

	IF ABS((SELECT SUM(P.val) FROM P) - 1) > @epsilon
		THROW 51000, 'Sum of coefficients is not 1!', 1
	
	IF EXISTS (
		SELECT 1
		FROM N
		LEFT JOIN Z ON N.n = Z.n
		WHERE Z.n is null
	)
		THROW 51000, 'Not all responsabilities have values over n!', 1
	
	IF EXISTS (
		SELECT 1
		FROM K
		LEFT JOIN Z ON K.k = Z.k
		WHERE Z.k is null
	)
		THROW 51000, 'Not all responsabilities have values over k!', 1
	
	IF EXISTS (
		SELECT 1
		FROM Z
		WHERE Z.val > 1
		UNION ALL
		SELECT 1
		FROM Z
		WHERE Z.val < 0
	)
		THROW 51000, 'Not all responsabilities have values between [0,1]!', 1

	IF EXISTS (
		SELECT 1
		FROM Z
		GROUP BY Z.n
		HAVING ABS(SUM(Z.val) - 1) > @epsilon
	)
		THROW 51000, 'Not all sums of responsabilities are 1!', 1


END



GO
USE [master]
GO
